/* Deshabilitar todas las transiciones de los botones */
.Button-Menu .ant-btn {
    transition: none !important;
  }
  
  /* Eliminar el cambio de fondo y sombra al hacer hover */
  .Button-Menu .ant-btn:hover {
    background-color: inherit !important;
    border-color: inherit !important;
    box-shadow: none !important;
  }
  
  /* Eliminar el cambio de fondo y sombra al hacer click (active) */
  .Button-Menu .ant-btn:active {
    background-color: inherit !important;
    border-color: inherit !important;
    box-shadow: none !important;
  }
  